$color_bg:#191919;
$color_1:#4F77FF;
$space:16%;
body{
  background-color: $color_bg;
}
d{
  width:100px;
  height: 150px;
  position: absolute;
  background-color: $color_1;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 50px 50px 0 0;
}
e, f, g, h{
  position: absolute;
  right:0;
  background-color: #191919;
  width: 80%;
  height: 20px;
  bottom: 0;
}
f{
  bottom: $space;
  width: 60%;
}
g{
  bottom: $space * 2;
  width: 40%;
}
h{
  bottom: $space*3;
  width: 20%;
}